/* Banco Table */
.table thead {
  background-color: #5a5abd; 
  color: #fff;
}

.table tbody tr:hover {
  background-color: #f1f1f1; /* Gris claro para destacar al pasar el cursor */
}

/* Formulario */
form .form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #1a73e8;
  border-color: #1a73e8;
}

.btn-primary:hover {
  background-color: #1458a8; /* Azul más oscuro al pasar el cursor */
}

/*.table thead th {
  background-color: #67823a;
  color: white;
  font-weight: bold;
}*/
